
h1{color: #000000;}
body {background-color: #FFA500; }
p{color: #000080;} 
a {color:#0065A2;}
nav{background-color: #000080;}
nav a {color: #FFFFFF;}
nav a:hover{background-color: #74737A}

nav {padding:10px}
nav{margin-bottom:30px}


.flexbox {display:flex; background-color: white; border-radius: 1em; margin: 25px}
.flexbox article{padding:20px}

.flexbox2{display:flex; background-color: white; border-radius: 1em;}
.flexbox div,.flexbox2 div {margin: 25px }
.imgone{max-width:100%;} 
.flexbox2{display: flex; 
    flex-wrap: wrap;}
@media only screen and (max-width: 600px) {nav a{min-width:600%; display:block;} span{display:none}}


#skip{position:absolute;
    left: -999px; 
    background-color: orange;
    padding: 5px
}

#skip:focus{
    left:10px
}